.button.radio {
	text-decoration: none;	/* no underline on 'a' elements */
	font-size: 22px;
	color: #FF6E4A;
	background-color: #312F47;
	text-align: center;
	padding: 0 15px;
}

.button.radio.checked {
	color: #FEB74B;
}

#SGXCanvas { 
	position: absolute; 
	z-index: 0;
}

#loading_background { 
	position: absolute; 
	z-index: 1;
}

#loading_animation { 
	position: absolute;	
	left: 10px;
	top: 240px;
	z-index: 2;
}

#loading_screen {
	position: absolute;
	z-index: 2;
}
#loading_tracker {
	position: absolute;
	z-index: 2;
}
